.pick-at {
  padding: 0px 30px;
  height: 65px !important;
  max-width: 106%;
}
.pick-at .dropdown .dropdown-toggle {
  padding: 0px 30px;
}
.container-button {
  margin-bottom: 10px;
  max-width: 45%;
}
.container-button:hover {
  border: none !important;
}
.container-button .dropdown-menu {
  margin-bottom: 1px !important;
  width: 280%;
}
.container-button .dropdown-menu:hover {
  border: none !important;
}
.inside-button-time:hover {
  background-color: darkgray;
  color: white;
}
.container-button > button {
  border: 1px rgba(169, 169, 169, 0.205) solid;
  color: black !important;
  background-color: white !important;
  width: 280%;
}
.item-single-displayed {
  justify-content: space-between;
  display: flex;
}
.basketEmptyText {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5%;
}
.item-selected {
  overflow: auto;
  display: block;
  height: 182px !important;
  border-bottom: 4px solid rgba(173, 173, 173, 0.658);
  -webkit-animation: pulse-cart-item 2s ease-in-out 2;
  animation: pulse-cart-item 2s ease-in-out 2;
}
.perItemDescrip {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}
.quantityDescrip {
  font-size: 17px;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}
.subtotal-line {
  padding: 2%;
  justify-content: space-between;
  height: 40px;
  border-bottom: 4px solid rgba(173, 173, 173, 0.658);
}
.customer-comment-container-form {
  width: 100%;
}
.customer-comment {
  border-bottom: 4px solid rgba(173, 173, 173, 0.658);
}

.query-customer-area {
  display: block;
  width: 100%;
  padding: 1.375rem 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.total-details {
  padding: 3%;
  justify-content: space-between;
  height: 60px;
  border-bottom: 4px solid rgba(173, 173, 173, 0.658);
}
