#orderNow {
  background-color: #fff;
  margin-top: -32px;
}
.lazy-gap {
  height: 80px;
  background-color: #2f0000;
}
.black-background {
  background-color: black;
  width: 100%;
  position: absolute;
  height: 200px;
  z-index: 0;
}
.back-home-link:hover {
  color: #fff;
  text-decoration: none;
}
.back-home-text {
  flex: 1;
}
.menu-page {
  display: flex;
  justify-content: space-around;
}
.menu-container {
  z-index: 10;
}
.preview {
  flex: 35%;
  margin-top: 20px;
  align-self: flex-start;
  top: 80px;
  position: sticky;
  position: -webkit-sticky;
}
.way-selected {
  width: 90% !important;
  margin-left: 5% !important;
}
@media (max-width: 992px) {
  .preview {
    display: none;
  }
}
.flex-group {
  display: flex;
  color: #fff;
}
.flex-group.end-column {
  flex-direction: column;
  align-items: flex-end;
}
.flex-al-self {
  padding-left: 20%;
  justify-content: space-between;
  display: flex;
  align-self: center;
  color: white;
}
.flex-al-self > p {
  color: white;
}
.flex-1 {
  flex: 1;
  color: white;
}
/* .marT-5 {
  margin-top: 5px;
} */
.search {
  width: 50%;
}
@media (max-width: 992px) {
  .go-down input {
    margin-left: 25%;
    margin-bottom: 14%;
    margin-top: -8%;
  }
  .delete-in-phones {
    display: none;
  }
  .go-down {
    margin-top: 24%;
  }
}
