.register-container {
  padding: 2rem;
}
.card-header-h3 {
  text-align-last: center;
  background-color: none;
}
.form-control-register {
  margin-bottom: 2rem;
  margin: 0;
  padding: 0;
}
.form-control-register-label {
  margin: 0;
  padding: 0;
}
.form-control-register-box {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(95, 94, 94);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.register-button {
  background-color: red;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.315);
  border: none;
  color: white;
}
.back-to-login-button {
  margin-bottom: 40%;
  background-color: rgb(56, 56, 56);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.315);
  border: none;
  color: white;
}
