.check_box {
  height: 15px;
  width: 15px;
}
.check_box_group {
  display: flex;
}
.check_box_label {
  margin: 0 0 0 15px;
  padding: 0;
}
.login_link {
  margin: 0 5px 0 2px;
}
.register_link {
  margin-left: 5px;
}
.fast_truck_link {
  color: black;
  text-decoration: underline;
  font-size: small;
}
